<div class="menu-bar">
  <div class="menu">
    <li class="search-box">
      <i class="bx bx-search icon"></i>
      <input type="text" placeholder="Search..." />
    </li>

    <ul class="menu-links">
      <li class="nav-link">
        <a routerLink="home">
          <i class="bx bx-home-alt icon"></i>
          <span class="text nav-text">Головна</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="notes">
          <i class="bx bx-notepad icon"></i>
          <span class="text nav-text">Записи</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="media-files">
          <i class="bx bx-image icon"></i>
          <span class="text nav-text">Медіафайли</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="pages">
          <i class="bx bx-book-content icon"></i>
          <span class="text nav-text">Сторінки</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="comments">
          <i class="bx bx-comment icon"></i>
          <span class="text nav-text">Коментарі</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="view">
          <i class="bx bx-slideshow icon"></i>
          <span class="text nav-text">Вигляд</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="plagins">
          <i class="bx bx-exclude icon"></i>
          <span class="text nav-text">Плагіни</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="users">
          <i class="bx bx-user icon"></i>
          <span class="text nav-text">Користувачі</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="tools">
          <i class="bx bx-cog icon"></i>
          <span class="text nav-text">Інструменти</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="setting">
          <i class="bx bx-chalkboard icon"></i>
          <span class="text nav-text">Налаштування</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="bottom-content">
    <li class="">
      <a href="#">
        <i class="bx bx-log-out icon"></i>
        <span class="text nav-text">Logout</span>
      </a>
    </li>

    <li class="mode">
      <div class="sun-moon">
        <i class="bx bx-moon icon moon"></i>
        <i class="bx bx-sun icon sun"></i>
      </div>
      <span class="mode-text text">Dark mode</span>
      <div class="toggle-switch">
        <span class="switch"></span>
      </div>
    </li>
  </div>
</div>
