 
  /* Sidebar items */
  .sidebar-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar item */
  .sidebar-item {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  /* Sidebar item link */
  .sidebar-item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  /* Sidebar item link active */
  .sidebar-item a.active {
    background-color: #111;
  }
  
  /* Sidebar item link hover */
  .sidebar-item a:hover {
    background-color: #111;
  }
  
  /* Sidebar item dropdown */
  .sidebar-dropdown {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 250px;
    background-color: #444;
    display: none;
    z-index: 1;
  }
  
  /* Sidebar item dropdown show */
  .show-dropdown {
    display: block;
  }
  
  /* Sidebar item dropdown link */
  .sidebar-dropdown a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  /* Sidebar item dropdown link hover */
  .sidebar-dropdown a:hover {
    background-color: #111;
  }