<body>
  <div class="container">
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="logo.png" alt="" />
          </span>

          <div class="text logo-text">
            <span class="name">Codinglab</span>
            <span class="profession">Web developer</span>
          </div>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
      </header>
      <app-sidebar></app-sidebar>
    </nav>

    <section class="home">
      <!-- ALERT -->
      <!--   <div class="cs-alert">
    <app-alert></app-alert>
  </div> -->
      <app-navbar></app-navbar>
      <div class="text">Dashboard Sidebar</div>
      <router-outlet></router-outlet>
    </section>
  </div>
  <footer>
    <mat-toolbar class="toolbarNav">
      <button
        mat-flat-button
        routerLink="/dictionary/dictionary"
        routerLinkActive="active-link"
      >
        <mat-icon class="material-icons color_blue"> book_online</mat-icon>
        <span>Dictionary</span>
      </button>
      <button
        mat-flat-button
        routerLink="/top-artists"
        routerLinkActive="active-link"
      >
        <mat-icon class="material-icons color_blue"> star_border</mat-icon>
        <span>Top Artists</span>
      </button>
      <button
        mat-flat-button
        routerLink="/top-tracks"
        routerLinkActive="active-link"
      >
        <mat-icon class="material-icons color_blue">favorite_border </mat-icon>
        <span>Top Tracks</span>
      </button>
      <button
        mat-flat-button
        routerLink="/history"
        routerLinkActive="active-link"
      >
        <mat-icon class="material-icons color_blue">history</mat-icon>
        <span>History</span>
      </button>
    </mat-toolbar>
  </footer>
</body>
