<body class="container">
    <form (submit)="createPost()" class="form-signin">
        <h1 class="h3 mb-3 text-center font-weight-normal">Форма створення статті</h1>
        <label for="">
            Категорія, Текст і Фото:
        </label>
        <select  class="form-control mb-3" name="category" id="category">
            <option value="Sports_news">Новини спорту</option>
            <option value="Fitness">Фітнес</option>
            <option value="Kickboxing">Кікбоксинг</option>
            <option value="Food">Харчування</option>
            <option value="Divers">Різне</option>
        </select>

        <label class="mt-3"  for="type">Назва:</label>
        <input  name="title" id="inputTitle" class="form-control"
            placeholder="Category">     

        <label class="mt-3" for="type">Фото:</label>
      <!--   <quill-editor [(ngModel)]="post.photo" name="photo"></quill-editor> -->

        <label class="mt-3" for="type">Текст:</label>
      <!--   <quill-editor [(ngModel)]="post.text" name="text"></quill-editor> -->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Опублікувати</button>
    </form>


</body>